container_commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

    files:
        "/opt/elasticbeanstalk/hooks/appdeploy/post/artisan_clean.sh":
            mode: "000755"
            owner: root
            group: root
            content: |
                #!/usr/bin/env bash
                cd $EB_CONFIG_APP_CURRENT
                echo "!!!!"
                rm -rf vendor
                /usr/bin/composer.phar update
                /usr/bin/composer.phar dump-autoload
                php ./artisan optimize --force
                php ./artisan config:cache
                php ./artisan route:cache
                php ./artisan dump-autoload

