container_commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

    files:
        "/opt/elasticbeanstalk/hooks/appdeploy/post/artisan_clean.sh":
    01-migration:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            php ./artisan config:cache; php ./artisan cache:clear ; php ./artisan route:clear

