container_commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

    files:
        "/opt/elasticbeanstalk/hooks/appdeploy/post/artisan_clean.sh":
    01-migration:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            rm -rf vendor
            composer update --no-dev
            php ./artisan optimize --force
            php ./artisan config:cache
            php ./artisan route:cache

