container_commands:
    01-optimize:
        command: "export COMPOSER_HOME=/root && sudo -E -uwebapp /usr/bin/composer.phar self-update && sudo -E -uwebapp /usr/bin/composer.phar dump-autoload --optimize"
    02-composer-update:
        command: "export COMPOSER_HOME=/root && sudo -E -uwebapp /usr/bin/composer.phar update && sudo -E -uwebapp /usr/bin/composer.phar dump-autoload"
    03-env-cleanup:
        command: "php ./artisan optimize --force;php ./artisan config:cache;php ./artisan route:cache"
    04-migration:
        command: "php ./artisan migrate:rollback ; php ./artisan migrate --force"

container_commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/some_job.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
        #!/usr/bin/env bash
            cd /var/app/current
            php ./artisan optimize --force;php ./artisan config:cache;php ./artisan route:cache